.index {
  margin: 30px;

  &__groups {
    padding: 0;
    list-style-type: none;

    &__group {
      margin-bottom: 12px;

      h2 {
        margin: 0 0 12px 0;
        font-size: 18px;
        line-height: 24px;
      }

      &__years {


        &__year {
          font-size: 15px;
          line-height: 21px;
        }
      }
    }
  }
}